body {
    text-align: center;
    background-color: rgb(218, 199, 199);
    }
.btn {
    background-color: red;
    margin-left: 20px;
    margin-right: 20px;

    border-radius: 20px;
    margin-bottom:  20px;

}
h1{
    color: blue;
}
h1 span{
    color: green;
}
.editbtn{
    width: 70px;
    border-radius: 20px;
    background-color: blue;
}